@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
*{
    padding: 0px;
    margin: 0px;
}

a{
    text-shadow: black 2px 2px 2px;
}

body{
    margin: 0;
    font-family: 'Alatsi', sans-serif;
    background-color: rgb(83, 131, 232);
}

header{
    width: 100%;
    background-color: rgb(41, 65, 116);
}

.iconmenu{
    width: 30px;
    height: 30px;
}

#btn-menu{
    display: none;
}

header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}

header label:hover{
    cursor: pointer;
    background-color: rgb(66, 104, 185);
}

.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li{
    text-align: center;
    border-right: 100px solid rgba(255, 255, 255, 0);
}

.menu li a:hover{
    color: white;
    text-decoration: underline white;
}

.menu li a{
    display: block;
    padding: 15px 20px;
    color: rgba(255, 255, 255, 0.589);
    text-decoration: none;
}

@media screen and (max-width: 800px){
    body{
        background-color: rgb(83, 131, 232);
    }
    
    header label{
        display: block;
    }


    .menu{
        position: absolute;
        background-color: rgb(41, 65, 116);
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }

    .menu ul{
        flex-direction: column;
    }


    .menu li{
        border-top: 1px solid white;
    }

    #btn-menu:checked ~ .menu{
        margin: 0;
    }

    .f{
        width: 350px;
        height: 200px;
    }

    h1{
        font-family: 'Alatsi', sans-serif;
        color: rgba(255, 255, 255, 0.815);
        margin-top: -20px;
        text-shadow: black 4px 4px 4px;
    }

    h2{
        font-family: 'Alatsi', sans-serif;
        color: rgba(255, 255, 255, 0.815);
        font-size: 25px;
        text-shadow: black 2px 2px 2px ;
    }

    p{
        font-family: 'Alatsi', sans-serif;
        color: rgba(255, 255, 255, 0.815);
        margin-top: 10px;
        font-size: 17px;
        text-shadow: black 1px 1px 1px;
    }

    #akali{
        margin-left: 40px;
        width: 500px;
        height: 548px;
    }

    #presentacion{
        margin-top: 30px;
        margin-left: 10px;
        height: 200px;
        width: 510px;
    }

    #menu2{
        background-color: rgb(41, 65, 116);
        margin-bottom: -8px;
        padding-bottom: 80px;
        margin-top: 60px;
        margin-left: -8px;
        height: 100px;
    }

    #menu2 ul{
        list-style: none;
        margin: 0;
        padding-top: 30px;
    }

    #menu2 ul li{
        display: inline-block;
        padding-left: 40px;
        padding-right: 40px;
    }

    #menu2 ul li a{
        color: rgba(255, 255, 255, 0.589);
        display: block;
        padding: 15px;
        text-decoration: none;
        font-family: 'Alatsi', sans-serif;
    }

    #menu2 ul li a:hover{
        color: white;
        border-bottom-style: solid;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px){
    .f{
        width: 350px;
        height: 200px;
    }
    
    h1{
        font-family: 'Alatsi', sans-serif;
        color: rgba(255, 255, 255, 0.815);
        margin-top: -20px;
        text-shadow: black 4px 4px 4px;
    }
    
    h2{
        font-family: 'Alatsi', sans-serif;
        color: rgba(255, 255, 255, 0.815);
        font-size: 25px;
        text-shadow: black 2px 2px 2px;
    }
    
    p{
        font-family: 'Alatsi', sans-serif;
        color: rgba(255, 255, 255, 0.815);
        margin-top: 20px;
        font-size: 19px;
        text-shadow: black 1px 1px 1px;
    }
    
    #akali{
        margin-top: 20px;
        margin-left: 20px;
        width: 500px;
        height: 548px;
    }

    #presentacion{
        margin-top: 30px;
        height: 200px;
        width: 750px;
    }
    
    #menu2{
        background-color: rgb(41, 65, 116);
        margin-bottom: -8px;
        margin-top: 50px;
        margin-left: -8px;
        height: 140px;
    }
    
    #menu2 ul{
        list-style: none;
        margin: 0;
        padding-top: 30px;
    }
    
    #menu2 ul li{
        display: inline-block;
        padding-left: 40px;
        padding-right: 40px;
    }
    
    #menu2 ul li a{
        color: rgba(255, 255, 255, 0.589);
        display: block;
        padding: 15px;
        text-decoration: none;
        font-family: 'Alatsi', sans-serif;
    }
    
    #menu2 ul li a:hover{
        color: white;
        border-bottom-style: solid;
    }
}

@media screen and (min-width: 1200px){
    .f{
        width: 500px;
        height: 300px;
    }
    
    h1{
        font-family: 'Alatsi', sans-serif;
        color: rgba(255, 255, 255, 0.815);
        margin-top: -20px;
        text-shadow: black 4px 4px 4px;
    }
    

    h2{
        font-family: 'Alatsi', sans-serif;
        color: rgba(255, 255, 255, 0.815);
        font-size: 35px;
        text-shadow: black 2px 2px 2px;
    }
    
    p{
        font-family: 'Alatsi', sans-serif;
        color: rgba(255, 255, 255, 0.815);
        margin-top: 10px;
        font-size: 25px;
        text-shadow: black 1px 1px 1px;
    }
    
    #akali{
        float: left;
        margin-top: -1100px;
        margin-left: 20px;
        width: 500px;
        height: 548px;
    }
    
    #presentacion{
        margin-top: 130px;
        margin-left: 380px;
        height: 200px;
        width: 750px;
    }

    #video{
        margin-top: 80px;
    }

    #vd{
        width: 800px;
        height: 400px;
    }
    
    #menu2{
        background-color: rgb(41, 65, 116);
        margin-bottom: -8px;
        margin-top: 50px;
        margin-left: -8px;
        height: 140px;
    }
    
    #menu2 ul{
        list-style: none;
        margin: 0;
        padding-top: 30px;
    }
    
    #menu2 ul li{
        display: inline-block;
        padding-left: 40px;
        padding-right: 40px;
    }
    
    #menu2 ul li a{
        color: rgba(255, 255, 255, 0.589);
        display: block;
        padding: 15px;
        text-decoration: none;
        font-family: 'Alatsi', sans-serif;
    }
    
    #menu2 ul li a:hover{
        color: white;
        border-bottom-style: solid;
    }
}